<template>
  <div id="app">

  </div>
</template>

<script>
import ColorTable from "./components/ColorTable.vue";

export default {
  name: "app",
  components: {
    ColorTable
  }
};
</script>

<style lang="scss">

</style>
